
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
   background-image: url(../img/ondas-governo-rodape.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   height: 100vh;
}

/* Header or Navbar */
header {
    background-image: linear-gradient(90deg, #26A737, #2DB39E);
    border-bottom: 3px solid #E84F0D;
    height: 8%;
    width: 100%;
}

                                    /* menu lateral */
.menu-Oculto{
   height: 100%;
   width: 0vw;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   overflow: hidden;
   background-color: #ffffff;
   box-shadow: rgba(3, 3, 3, 0.521) 0.2px 0px 12px 0px ;
   transition: 0.5s;
}

.opcoes {
   display: flex;
   flex-direction: column;
   
}

.menu-Oculto a{
   text-decoration: none;
   color: rgb(34,166,56);
   padding: 24px 8px 8px 32px;
   font-size: 23px;
   display: block;
   transition: 0.4s;
}
.menu-Oculto a:hover{
   color: #ffffff;
   background-color: #89db86;
   
}
.fechar{
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 50px;
   margin-left: 50px;
   border: none;
   background-color: white;
   cursor: pointer;
}

.logoMenu{
   height: 27vh;
   margin-left: 40px;
}
.imageMenu{
   display: flex;
   align-items: center;
}

.linha{
   width: 100%;
   height: 5px;
   background: linear-gradient(to right, #e84f0d 0%, #fccf00 100%);
   margin-bottom: 40px;
}
.opcoes .sair{
   color: red;
}
.opcoes .sair:hover{
   color: #ffffff;
   background-color: #ff0000;
}

#principal{
   display: flex;
   padding: 10px;
   transition: margin-left 0.5s;
}

#principal span{
   margin: 3px 10px 1px 20px;
   color: #ffffff;
}

/* NavBar */
.nav-logo {
   display: flex;
}

.logo_eeep{
   margin: 1px 30px 1px 27px;

   height: 6vh;    
}

.ret{
   border-radius: 100px;
   width: 0.3vw;
   height: 5.5vh;
   background: #ffffff;
   margin-right: 12px;
}
.nav-logo .library{
   height: 5.8vh;
   margin: 0px 0px 0px 40px;
}

/* formulario */
/* 
.titulo{
    margin-top: 50px;
    width: 24%;
    height: 3.5vh;
    background-color: #26A737;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 90% 100%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vh;
}
.img-informs{
    height: 60%;
    width: 70%;
    border: black solid;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
.img_livro{
    
    height: 100%;
    width: 30%;
    border: black solid ;
}
.informs{
    height: 100%;
    width: 70%;
    border: black solid ;
    margin-left: 40px;
}

label{
    margin: 0;
    padding: 0;
} */

/* RESPONSIVIDADE MIDIA QUERRY */
@media (max-width: 560px) {
   .logo_eeep{
      margin: 0px 0px 0px 0px;
      height: 6vh;
   }
   .nav-logo .library{
      margin: 0px 0px 0px 0px;
      height: 5.6vh;
   }
   #principal span{
      margin: 0px 0px 0px 0px;
   }
   
}
@media (max-width: 390px) {
   .logo_eeep{

      height: 4.5vh;
   }
   .nav-logo .library{

      height: 4vh;
   }
   
}
@media (max-width: 390px) {
   .logoMenu{
      height: 22vh;
      margin-left: 20px;
   }
   .fechar{
      margin-left: 0;
      right: auto;
   }
   
}