@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
    --cor-principal: #26A737;
    --cor-secundaria: #E84F0D;
    --cor-terciaria: #2DB39E;
    --cor-fundo: #C9C9C9;
    --cor-hover: #89db86;
    --cor-foco: #26A737; /* Cor de foco para acessibilidade */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../img/ondas-governo-rodape.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-attachment: fixed;
}

/* RANKINGS */
.ranking-filtros {
    width: 30vw;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.ranking {
    margin: auto;
    width: 18vw;
    font-size: 4vw;
    color: var(--cor-principal);
    text-transform: uppercase;
}

.filtros {
    margin: 4% 0% 0% 7%;
    display: ruby-text;
    width: 25vw;
}

.mes-inicialFil,
.mes-finalFil {
    width: 7vw;
    height: 3.5vh;
    background-color: var(--cor-fundo);
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}

.container-relatorio {
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    text-align: center;
}

.relatorio {
    width: 7vw;
    height: 4vh;
    background-color: rgba(245, 158, 0, 1);
    color: #ffffff;
    border-radius: 13px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
}

.container-filtro-cursos {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: end;
}

.filtro-cursos {
    width: 6vw;
    height: 4vh;
    background-color: var(--cor-fundo);
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.teste {
    height: 100%;
}

.graficos {
    height: 50%;
    width: 85%;
    margin: auto;
    display: ruby-text;
}

.grafico-livros,
.grafico-curso {
    height: 100%;
    width: 45%;
}

/* RESPONSIVIDADE MIDIA QUERRY */
@media (max-width: 560px) {
    .logo_eeep {
        margin: 0;
        height: 6vh;
    }

    .nav-logo .library {
        margin: 0;
        height: 5.6vh;
    }

    #principal span {
        margin: 0;
    }
}

@media (max-width: 390px) {
    .logo_eeep {
        height: 4.5vh;
    }

    .nav-logo .library {
        height: 4vh;
    }
}

@media (max-width: 390px) {
    .logoMenu {
        height: 22vh;
        margin-left: 20px;
    }

    .fechar {
        margin-left: 0;
        right: auto;
    }
}

@media (max-width: 1100px) {
    .graficos {
        height: 75%;
        margin-top: 0px;
        display: grid;
    }

    .grafico-curso,
    .grafico-livros {
        width: 100%;
    }

    .ranking-filtros {
        width: 35vw;
    }

    .ranking {
        width: 35vw;
        font-size: 4vw;
        display: ruby-text;
    }

    .filtros {
        width: 35vw;
        margin: 0;
    }

    .filtro-dias,
    .filtro-meses {
        width: 14vw;
        height: 3vh;
    }

    .relatorio {
        width: 12vw;
        height: 4vh;
        margin: 4px 0px 3px 0px;
    }
}
