body {

    margin: 0;
    padding: 0;
}

nav{
    width: 10;
    height: 2.2vh;
    background: linear-gradient(90deg, #22A638 0%, #36B39E 100%);
    border-bottom: 0.2rem solid #e7750b;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.base{

}

.main base{
    margin-left: 100px;
}

.restrito{
    display: flex;
    justify-content: center;
    align-self: start;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 60%;
    height: 6%;
    text-align: center;
    color: white;
    font-weight: 700;
    background: #5EB030;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 90% 100%);
} 

.ClasseTexto{
    padding: 2px;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24vw;
    height: 60vh;
    background:#f0efef ;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

}
.area-login img{
    width: 40vh;
    background-size: cover;
    width: 10vw;
}
form{
    align-items: center;
    justify-content: center;
    width: 15vw;
}

.teubotao{
    background-color: #e7750b;
    border-radius:5px ;
    width: 40vh;
    border: 1px solid #e7750b;
    margin: 2%;
    width: 14vw;
    color: white;

}


@media (max-width: 1280px) {
    .area-login{
        width: 35vw;
    }
    .teubotao{

    }
}
@media (max-width: 500px) {
    .area-login{
        width: 70vw;
    }
}