body {
    margin: 0;
    padding: 0;
    background-image: url("./img/ondas-governo-rodape.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

nav{
    display: flex;
    position: static;
    top: 0;
    height: 2rem;
    background: linear-gradient(90deg, #22A638 0%, #36B39E 100%);
    border-bottom: 0.35rem solid #e7750b;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main base{
    margin-left: 100px;
}

.restrito{
    display: flex;
    justify-content: center;
    align-self: start;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 60%;
    height: 6%;
    text-align: center;
    color: white;
    font-weight: 700;
    background: #5EB030;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 90% 100%);
} 

.ClasseTexto{
    padding: 2px;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24vw;
    height: 60vh;
    background:#f0efef ;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

}
.area-login img{
    width: 40vh;
    background-size: cover;
    width: 10vw;
}
form{
    align-items: center;
    justify-content: center;
    width: 15vw;
}

.iconeUsuario{
    max-width: 10px;
    max-height: 10px;
    font-size: 2px;
    margin-left: -1%;
    margin-top: 0.6%;
    display: flex;
    position: absolute;
}

.iconeTranca{
    max-width: 10px;
    max-height: 10px;
    font-size: 2px;
    margin-left: -1%;
    margin-top: 0.6%;
    display: flex;
    position: absolute;
}

.BotaoDeentrar{
    background-color: #e7750b;
    border-radius:5px ;
    width: 40vh;
    border: 1px solid #e7750b;
    margin: 2%;
    width: 14vw;
    color: white;

}


@media (max-width: 1280px) {
    .area-login{
        width: 35vw;
    }
    .BotaoDeentrar{

    }
}
@media (max-width: 337px) {
    .area-login{
        width: 70vw;
    }
    .form{
        width: 70%;
    }
}
