body {
    margin: 0;
    padding: 0;
    /* ondas do fim da tela */
    background-image: url("./img/ondas-governo-rodape.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
/* nav-bar */
nav{
    display: flex;
    position: static;
    top: 0;
    height: 2rem;
    background: linear-gradient(90deg, #22A638 0%, #36B39E 100%);
    border-bottom: 0.35rem solid #e7750b;
}
/* fim nav-bra */

/* corpo do site */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
}
/* fim corpo do site */


/* poiligono verde escrito restrito */
.restrito{
    display: flex;
    justify-content: center;
    align-self: start;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 60%;
    height: 6%;
    text-align: center;
    color: white;
    font-weight: 700;
    background: #5EB030;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 90% 100%);
} 
/* fim poiligono verde escrito restrito */

/* texto dentro do poligono */
.ClasseTexto{
    margin-left:-3vh;
    padding: 0.3vw;
}
/* fim texto dentro do poligono */

/* area ao redor do campo de intridução de dados */
.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24vw;
    height: 60vh;
    background:#f0efef ;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

}
/* fim area ao redor do campo de intridução de dados */

/* logo da ares de login */
.area-login img{
    width: 40vh;
    background-size: cover;
    width: 10vw;
}
/* fim logo da ares de login */

/* area de introdução de dados */
form{
    align-items: center;
    justify-content: center;
    width: 14.5vw;
}
/* fim area de introdução de dados */

/* stilização de icones q não esta sendo utilizada no momento */

/* .fa-solid-fa-user{
    max-width: 10px;
    max-height: 10px;
    font-size: 2px;
    margin-left: -1%;
    margin-top: 0.6%;
    display: flex;
    position: absolute;
}

.fa-solid-fa-look{
    max-width: 10px;
    max-height: 10px;
    font-size: 2px;
    margin-left: -1%;
    margin-top: 0.6%;
    display: flex;
    position: absolute;
} */
 /* fim */

.Botao-entrar{
    background-color: #e7750b;
    border-radius:5px ;
    border: 1px solid #e7750b;
    margin: 2%;
    width: 14vw;
    height: 2vw;
    color: white;

}

/* media screen para dispositivos */
@media (max-width: 1280px) {
    .area-login{
        width: 40vw;
    }
}
@media (max-width: 337px) {
    .area-login{
        width: 70vw;
    }
    .form{
        width: 70%;
    }
}

/* fim midia screen */
