<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Conteúdo do PDF -->
    <div id="content">
        <div class="cabecario" style="position: relative;">
            <img src="logo.png" alt="" style="position: absolute; top: 0; left: 0; width: 90px; height: 50px;">
            <img src="coruja.png" alt="" style="position: absolute; top: 0; right: 0; width: 90px; height: 60px;">
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                <h1 style="font-family: 'Poppins', sans-serif; text-align: center; font-size: 24px;">Relatório de
                    Empréstimos 2024</h1>
            </div>
            <div
                style="width: 100%; height: 4px; background: linear-gradient(to right, #FFA07A, #F7DC6F); margin-bottom: 20px;">
            </div>
        </div>
        <style>
            * {
                margin: 0;
            }
        </style>
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center;">Turma 1 - Informática</h1>
        <h2
            style="font-size: 24px; font-family: 'Poppins', sans-serif; text-align: center; background-color: #f7f7f7; padding: 10px;">
            março</h2>
        <table style="width: 90%; margin: 0 auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Nome</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Livro</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Série</th>
                </tr>

                <tr>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        João Pedro</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        Livro de Informática</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        1</td>
                </tr>
            </tbody>
        </table><br><br>
        <div style="page-break-after: always;"></div>
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center;">Turma 2 - Administração</h1>
        <h2
            style="font-size: 24px; font-family: 'Poppins', sans-serif; text-align: center; background-color: #f7f7f7; padding: 10px;">
            abril</h2>
        <table style="width: 90%; margin: 0 auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Nome</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Livro</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Série</th>
                </tr>

                <tr>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        Maria Luiza</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        Livro de Administração</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        2</td>
                </tr>
            </tbody>
        </table><br><br>
        <div style="page-break-after: always;"></div>
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center;">Turma 3 - Engenharia</h1>
        <h2
            style="font-size: 24px; font-family: 'Poppins', sans-serif; text-align: center; background-color: #f7f7f7; padding: 10px;">
            maio</h2>
        <table style="width: 90%; margin: 0 auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Nome</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Livro</th>
                    <th
                        style="text-align: center; background-color: #f0f0f0; border: 1px solid #ddd; padding: 8px; font-weight: bold; font-family: 'Poppins', sans-serif;">
                        Série</th>
                </tr>

                <tr>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        Pedro Henrique</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        Livro de Engenharia</td>
                    <td
                        style="text-align: center; border: 1px solid #ddd; padding: 8px; font-family: 'Poppins', sans-serif;">
                        3</td>
                </tr>
            </tbody>
        </table><br><br>
        <div style="page-break-after: always;"></div>
    </div>
    <button id="generate_pdf">Gerar</button>

</body>

</html>