/* corpo do site */
main{
    margin-top: 2vh;
 }
 .voltar{
    margin: 10%;
    font-size: 200%;
 }
 
 /* fim corpo do site */
 .titulo{
     padding: 0.3vw;
     color: #44B172;
     font-size: 3.5vh;
     margin-left:7vh;
 }
 
 .rot{
    font-size: 2%;
     margin-left:7vh;
     color: #7d807e;
    }
    
    .rot2 {
        padding: 15px;
        margin-top: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 18px;
        color: #333;
    }
    
    .rot2 p {
        margin: 0;
        font-weight: bold;
    }
 
 .linha{
 width: 100%;
 height:0.5vh ;
 background:#e7750b;
 }
 
 